USE [master]
GO
/****** Object:  Database [wte]    Script Date: 1/16/2021 4:01:39 PM ******/
CREATE DATABASE [wte]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'wte', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\wte.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'wte_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\wte_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [wte].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [wte]
GO
/****** Object:  Table [dbo].[Restaurants]    Script Date: 1/16/2021 4:01:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Restaurants](
	[Restaurant_Name] [varchar](75) NOT NULL,
	[Days_Open] [varchar](50) NOT NULL,
	[Hours_Open] [varchar](50) NOT NULL,
	[Address_Line_One] [varchar](50) NOT NULL,
	[Address_Line_Two] [varchar](50) NOT NULL,
	[City] [varchar](50) NOT NULL,
	[State] [char](2) NOT NULL,
	[Zipcode] [char](5) NOT NULL,
	[Phone_Number] [char](10) NOT NULL,
	[Website] [varchar](100) NOT NULL,
	[Breakfast] [char](1) NOT NULL,
	[Lunch] [char](1) NOT NULL,
	[Dinner] [char](1) NOT NULL,
 CONSTRAINT [PK_Restaurants] PRIMARY KEY CLUSTERED 
(
	[Restaurant_Name] ASC,
	[Address_Line_One] ASC,
	[Zipcode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
