
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<br />


<div id="MainDiv" style="display: flex; flex-direction: row; height: 80vh; width: 100vh;">
    <div class="ListDiv" style="background-color: blue; height: 75vh; width: 25vh;">
        <p>List Div</p>
        <ul>

        </ul>

    </div>

    <div class="DetailsDiv" style="background-color: red; height: 75vh; width: 75vh;">
        <p>Details<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />Div</p>
    </div>
</div>



